%h2#maintainer Maintainer

%p
  :markdown
    This project was created by [Nando Vieira](http://simplesideias.com.br/).

%p
  :markdown
    Check it out another interesting projects at <http://fnando.github.com>.